<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book Detail</title>
    <!-- 引入 Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<table class="table table-striped">
    <tr>
        <td class="text-center">BookId</td>
        <td th:text="${book.bookId}"></td>
    </tr>
    <tr>
        <td class="text-center">书名</td>
        <td th:text="${book.bookName}"></td>
    </tr>
    <tr>
        <td class="text-center">作者</td>
        <td th:text="${book.bookAuthor}"></td>
    </tr>
    <tr>
        <td class="text-center">目录</td>
        <td th:text="${book.bookCatalog}"></td>
    </tr>
</table>
</body>
</html>