<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book Manage</title>
    <!-- 引入 Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<form role="form" action="/book/add" method="post">
    <div class="form-group">
        <label for="name">书名:</label>
        <input type="text" class="form-control" name="bookName" id="name" placeholder="请输入书名"/>
    </div>
    <div class="form-group">
        <label for="author">作者:</label>
        <input type="text" class="form-control" name="bookAuthor" id="author" placeholder="请输入作者"/>
    </div>
    <div class="form-group">
        <label for="bookCatalog">目录列表:</label>
        <textarea class="form-control" name="bookCatalog" id="bookCatalog"></textarea>
    </div>
    <button type="submit" class="btn btn-default">增加</button>
</form>
</body>
</html>